td,
th {
  border: 0.5rem solid #999;
  padding: 0.5rem;
}
.column {
  float: left;
  width: 50%;
}

.status {
  font-size: 3rem;
  margin: 2rem;
  width: fit-content;
}

body {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 1rem;
}

table {
  border: 0.5rem solid rgb(43, 40, 40);
}

td {
  background-color: rgb(43, 40, 40);
  border: 0.1rem solid white;
  font-size: 5rem;
  text-align: center;
  width: 6rem;
  height: 6rem;
  color: #ffffff;
  border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
}

button {
  background-color: rgb(43, 40, 40);
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid white;
}
